NODE_ENV=YOUR_MODE
PORT=YOUR_PORT
CLIENT_ORIGIN=YOUR_ORIGIN
MONGODB_URI=YOUR_URI
ACCESS_TOKEN_SECRET=YOUR_SECRET
ACCESS_TOKEN_EXPIRES_IN=YOUR_EXPIRES_IN
REFRESH_SESSION_EXPIRES_IN_DAYS=YOUR_SESSION
ADMIN_FIRST_NAME=YOUR_ADMIN_FIRST_NAME
ADMIN_LAST_NAME=YOUR_ADMIN_LAST_NAME
ADMIN_EMAIL=YOUR_ADMIN_EMAIL
ADMIN_PASSWORD=YOUR_ADMIN_PASSWORD
PUBLIC_LOCATION_SECRET=YOUR_PUBLIC_LOCATION_SECRET
PICKUP_CODE_SECRET=YOUR_PICKUP_CODE_SECRET